* {
box-sizing: border-box;
}

body {
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body#bg-img {
  background: url("../background.png");
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  text-align: center;
  margin: 0;
  font-size: 50px;
}

.main-container {
  padding: 0 30px 6px 30px;
  margin-top: 20px;
  border-bottom: 0.5px solid #7c7c7c;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'user option-1 option-2 input'
}
.user {
  grid-area: user;
  text-align: center;
}
.user img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #009577;
}
.user h3 {
  font-size: 20px;
  margin: 0;
}
.user p {
  font-size: 15px;
  margin: 0;
}
.user button {
  width: 100px;
  height: 36px;
  font-size: 12px;
  border: none;
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
}
button:hover {
  cursor: pointer;
}
.user .upload {
  border-radius: 16px 0 0 16px;
  background: #009577;
}
.user .delete {
  border-radius: 0 16px 16px 0;
  background: #707070;
}

.option-1 {
  grid-area: option-1;
  font-size: 18px;
}
label {
  font-size: 15px;
  font-weight: bold;
  float: left;
}
.form {
  height: 50px;
  position: relative;
}
.form input[type="text"] {
  border: none;
  background: transparent;
  border-bottom: 2px solid #7c7c7c;
  float: right;
  width: 80%;
  color: #fff;
}
.radio-form {
  position: absolute;
  height: 21px;
  width: 43px;
  border-radius: 10px;
  z-index: -2;
  right: 0;
  background-color: #009577;
}
.form input[type="radio"] {
  float: right;
  opacity: 0;
  cursor: pointer;
}
.form .checkmark-1 {
  position: absolute;
  right: 22px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  z-index: -1;
  display: none;
}
.form input:nth-of-type(2):checked ~ .checkmark-1 {
  display: block
}
.form input:nth-of-type(1):checked ~ .checkmark-2 {
  display: block
}
.form input:nth-of-type(1):checked ~ .radio-form {
  display: none;
}
.form input:nth-of-type(2):checked ~ .radio-form {
  display: none;
}
.form .checkmark-2 {
  position: absolute;
  right: 0px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  z-index: -1;
  display: none;
}

.option-2 {
  grid-area: option-2;
}
.input {
  grid-area: input;
}
.input input[type="submit"] {
  width: 129px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background: #009577;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  margin-top: 30px;
}
.submit {
  text-align: center;
}
.input input[type="submit"]:hover {
  cursor: pointer;
}
.result {
  margin-top: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'left rs acu right'
}
.result span {
  font-size: 25px;
  font-weight: bold;
}
#result {
  color: #fff;
  font-size: 15px;
  width: 180px;
  padding: 5px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid #009577;
  float: right;
  text-align: center;
  font-size: 15px;
}
.acu-number {
  width: 115px;
  padding: 5px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid #009577;
  float: right;
  text-align: center;
  font-size: 15px;
}
.left {
  grid-area: left;
}
.rs {
  grid-area: rs;
}
.acu {
  grid-area: acu;
}
.right {
  grid-area: right;
}

.prf-select {
    background: #444;
    color: #ffffff;
    border: 0;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.prf-option{
    font-size: 15px;
    font-weight: normal;
}
.acu .submit {
  width: 129px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background: #009577;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}
.acu .submit:hover {
  cursor: pointer;
}
