html {
  background-color: rgb(210, 200, 203);
  font-family: sans-serif;
}

.container {
  box-shadow: 0px 0px 20px 0px;
  -moz-box-shadow: 0px 0px 20px 0px;
  -webkit-box-shadow: 0px 0px 20px 0px;
  -o-box-shadow: 0px 0px 20px 0px;
  -ms-box-shadow: 0px 0px 20px 0px;
  height: 100%;
  margin: 30px;
  background: #fff;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    'user option option input input'
}
.user {
  grid-area: user;
  text-align: center;
  border-right: 0.5px solid #bdc2c1;
  padding: 0 10px;
}
img {
  margin: 0 auto;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: #444;
  border: 0.5px solid #444;
}
.profile {
  font-size: 28px;
  color: rgb(142, 144, 138);
}
h3 {
  font-size: 20px;
  margin: 0;
  padding: 10px 0 6px 0;
}
.carrier {
  color: rgb(142, 144, 138);
  font-size: 15px;
  text-align: center;
  margin-top: 0;
}
.option {
  margin-bottom: 20px;
  grid-area: option;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'edit edit'
    'age age'
    'gender thyroxine'
    'query-thyroxine anti-thyroxine'
    'sick pregnant'
    'thyronxine-surgery treat'
    'hypothyroid hyperthyroid'
    'lithium goitre'
    'tumor hyoituitary'
    'psycho psycho'

}
.input {
  grid-area: input;
  display: grid;
  grid-gap: 20px;
  text-align: center;
  border-left: 0.5px solid #bdc2c1;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    'edit-input'
    'tsh'
    't3'
    'tt4'
    't4u'
    'fti'
    'submit'
}
.edit-input {
  grid-area: edit-input
}
.submit input[type="submit"] {
  grid-area: submit;
  width: 150px;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  border-radius: 20px;
  border: 0.5px rgb(60, 59, 59) solid;
  background: rgba(20, 97, 212, 0.82);
}
.submit input[type="submit"]:hover {
  cursor: pointer;
}
.form input[type="text"]{
  border-radius: 20px;
  padding: 5px;
  border: none;
  border-bottom: 0.5px solid #bdc2c1;
  text-align: center;
}
.form input[type="text"]:focus {
  border-bottom: 2px solid #bdc2c1;
  transition: 0.25s;
  transition-timing-function: ease-in;
  border: 0.5px rgb(60, 59, 59) solid;
}
.upload {
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(20, 97, 212, 0.82);
  color: #fff;
  font-weight: bold;
  border: 0.5px rgb(60, 59, 59) solid;
}
.upload:hover {
  cursor: pointer;
}
.delete {
  background: #fff;
  padding: 5px;
  margin-top: 20px;
  border-radius: 20px;
  border: 0.5px rgb(60, 59, 59) solid;
  width: 100px;
  color: rgb(82, 84, 81);
}
.delete:hover {
  cursor: pointer;
  color: #fff;
  background: rgb(82, 84, 81);
  transition: 0.25s ease-in;
}
.age {
  grid-area: age
}
.gender {
  grid-area: gender
}
.thyroxine {
  grid-area: thyroxine
}
.query-thyroxine {
  grid-area: query-thyroxine
}
.anti-thyroxine {
  grid-area: anti-thyroxine
}
.sick {
  grid-area: sick
}
.pregnant {
  grid-area: pregnant
}
.thyroxine-surgery {
  grid-area: thyroxine-surgery
}
.treat {
  grid-area: treat
}
.hypothyroid {
  grid-area: hypothyroid
}
.hyperthyroid {
  grid-area: hyperthyroid
}
.lithium {
  grid-area: lithium
}
.goitre {
  grid-area: goitre
}
.tumor {
  grid-area: tumor
}
.hypoituitary {
  grid-area: hypoituitary
}
.psych {
  grid-area: psych
}
.tsh {
  grid-area: tsh;
}
.t3 {
  grid-area: t3
}
.tt4 {
  grid-area: tt4
}
.t4u {
  grid-area: t4u
}
.fti {
  grid-area: fti
}
.edit {
  grid-area: edit
}
label {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}
.result {
  margin-bottom: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'rs acu'
}
.rs {
  grid-area: rs;
  text-align: center;
}
.acu {
  grid-area: acu;
  text-align: center;
}
.result input[type="text"] {
  border-radius: 20px;
  padding: 10px;
  border: 0.5px rgb(60, 59, 59) solid;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.prf-select {
    background: #444;
    color: #ffffff;
    border: 0;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.prf-option{
    font-size: 15px;
    font-weight: normal;
}
